body {
  font-family:"Montserrat";
  /* Chrome 10-25, Safari 5.1-6 */
  transition: 1s;
}

.sidenav {
  height: 100%;
  width: 160px;
  max-width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  white-space: nowrap;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome, Edge, Opera and Firefox */
  transition: 200ms;
  text-overflow: ellipsis;
}
.sidenav:hover img {
  text-align: center;
  margin-bottom: 5px;
  transition: 1s;
}

.sidenav:hover {
  width: 400px;
  max-width: 400px;
}
.sidenav .usernametextblock {

  display: none;
}

.sidenav img {
  margin-left: 30px;
  margin-bottom: 5px;
  transition: 3s;
}

.sidenav a {
  margin-left: 30px;
  margin-bottom: 5px;
  height: 24px;
  text-overflow: ellipsis;
  text-decoration: none;
  font-size: 20px;
  color: rgb(100, 100, 100);
  transition: 0.3s;
  display: block;
  text-align: left;
}

.sidenav .normaltext {
  margin-left: 30px;
  margin-bottom: 5px;
  text-decoration: none;
  font-size: 20px;
  color: #dddada;
  margin-left: 0px;
  text-align: center;
  display: block;
  cursor: default;
}

.sidenav a:hover {
  color: #f1f1f1;
  text-overflow: ellipsis;
  cursor: pointer;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255, 1)
  );
  margin-left: 0px;
  font-size: 22px;
}
.sidenav a:active {
  color: #f1f1f1;
  cursor: pointer;
  text-overflow: ellipsis;
  background-image: linear-gradient(
    to right,
    rgba(0, 162, 255, 0.5),
    rgba(0, 0, 0, 0)
  );
}
.alert {
  padding: 30px;
  background-color: #ff2213;
  color: white;
  position: block;
  height: 30px;
  z-index: 10;
  display: block;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 10px;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}
.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  display: none;
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0);
  color: white;
}

.main .active {
  display: block;
  width: 100%;
  height: 100%;
  transition: 0.3s;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 12px 20px;
  border-radius: 0px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #000000;

  box-sizing: border-box;
}

/* Set a style for all buttons */
.btn {
  background-color: #686868;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 30%;
  border-radius: 0px;
  transition: 0.3s;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.btn:hover {
  opacity: 0.6;
  border-radius: 5px;
}
h1 h2 h3 h4 h5 {
  margin: auto;
}

p {
  margin: auto;
}
/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}
.btn-danger {
  background-color: #f44336;
}
.btn-success {
  background-color: #4caf50;
}
.btn-info {
  background-color: #009cf7;
}
.btn-primary {
  background-color: #003ada;
}
.btn-alert {
  background-color: #ffbb00;
  color: black;
}
.btn-white {
  background-color: #e9e9e9;
  color: black;
}
/* Extra styles for other elements */
.bg-danger {
  background-color: #f44336 !important;
}
.bg-success {
  background-color: #4caf50 !important;
}
.bg-info {
  background-color: #009cf7 !important;
}
.bg-primary {
  background-color: #003ada !important;
}
.bg-alert {
  background-color: #ffbb00 !important;
  color: black;
}
.bg-white {
  background-color: #e9e9e9 !important;
  color: black;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}
body {
  background-color: rgb(31, 31, 31);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: rgb(54, 54, 54);
  color: white;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* Style the tab */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
/* Absolute Center Spinner */
.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(rgba(20, 20, 20, 1), rgba(0, 0, 0, 1));

  background: rgba(20, 20, 20, 1);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.loading:not(:required):after {
  content: "";
  display: block;
  font-size: 10px;
  width: 1em;
  height: 1em;
  margin-top: -0.5em;
  -webkit-animation: spinner 550ms infinite linear;
  -moz-animation: spinner 550ms infinite linear;
  -ms-animation: spinner 550ms infinite linear;
  -o-animation: spinner 550ms infinite linear;
  animation: spinner 550ms infinite linear;
  border-radius: 0.5em;
  box-shadow: rgba(38, 0, 255, 0.75) 1.5em 0 0 0,
    rgba(254, 160, 0, 0.75) 1.1em 1.1em 0 0, rgba(208, 0, 255, 0.75) 0 1.5em 0 0,
    rgba(255, 0, 238, 0.75) -1.1em 1.1em 0 0,
    rgba(0, 255, 12, 0.75) -1.5em 0 0 0,
    rgba(255, 246, 0, 0.75) -1.1em -1.1em 0 0,
    rgba(255, 0, 0, 0.75) 0 -1.5em 0 0;
  /* rgba(255, 255, 255, 0.75) 1.1em -1.1em 0 0; */

  /* 
  
  kesbook easter egg spinner 2020 refrence to old logo from 2014-2017
  
  */
}

/* Animation */

@-webkit-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-moz-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@-o-keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
  transition: 1s;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* MESSAGE CONTAINER AND MESSAGE */

.msg-container {
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(78, 78, 78, 0.7);
  height: 58%;
  width: 69%;
  overflow: auto;
  overflow-x: hidden;
}

.membername{
  color: white;

  
}.membername:hover{
  color: rgb(150, 150, 150);
  background-color: #000;
  
}
.members{
  float:right;
  padding-top: 10px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgba(78, 78, 78, 0.7);
  height: 58%;
  width: 30%;
  overflow: auto;
  overflow-x: hidden;
}
.msg-container a {
  color: rgb(0, 162, 255);
}
.msg-container a:hover {
  color: rgb(0, 89, 255);
}
.sender{
  text-align: right;
  padding-right: 6px;
}

.msg {
  width: 100%;
  background-color: rgba(80, 80, 80, 0.6);
  padding-bottom: 9px;
  transition: 0.6s;
}.msg .sender {
  width: 100%;
  background-color: rgba(80, 80, 80, 0.6);
  padding-bottom: 9px;
  transition: 0.6s;
  text-align: right !important; 
}
.msg:hover {
  width: 100%;
  background-color: rgb(34, 34, 34);
  padding-bottom: 9px;
}
.msg p {
  font-size: 18px;
  margin-left: 5px;
  width: 100%;
  color: white;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s;
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s;
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;

  color: white;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;

  color: white;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    bottom: -300px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
  background-color: rgba(155, 155, 155, 1);
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}.container p{
  font-size: 12px;
}